# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 不提交单个文件
CXYREADME.md

yarn.lock
package-lock.json
pnpm-lock.yaml

## 本地打包配置不提交
.hbuilderx